<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<div layout:fragment="content" class="content">
	<div class="content-inner">
		<form action="/board/save" method="post" enctype="multipart/form-data" onsubmit="return postForm()">
			<div class="form-group has-feedback">
				<div>
					<input type="text" name="title" placeholder="제목을 입력해 주세요." id="title">
				</div>
			</div>
			<div class="summernote">
				<textarea id="summernote" rows="20"></textarea>
			</div>
			<input type="hidden" name="textType" value="HTML" id="textType">
			<input type="file" name="upload" />
			<button type="button" onclick="postForm22();">test</button>

			<!-- <div class="recaptcha-wrapper">
				<script src="https://www.google.com/recaptcha/api.js" async defer></script>
				<div class="g-recaptcha"
					data-sitekey="6Lcvw_gSAAAAAH3zOofJBJOFLpmjx7Vq3hxnYIRw"></div>
			</div> 
			<img src="/summernoteImage/202009251170422.png"/> 이건 됌 -->
		    <script>
		    $(document).ready(function() {
		    	//여기 아래 부분
		    	$('#summernote').summernote({
		    		  height: 300,                 // 에디터 높이
		    		  minHeight: null,             // 최소 높이
		    		  maxHeight: null,             // 최대 높이
		    		  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
		    		  lang: "ko-KR",					// 한글 설정
		    		  //placeholder: '최대 2048자까지 쓸 수 있습니다'	//placeholder 설정
		    		  callbacks: {
				      	onImageUpload: function(files, editor, welEditable) {
				        	for (var i = files.length - 1; i >= 0; i--) {
				              sendFile(files[i], this);
				            }
				      	}
				      }
		    		});
		    });
		    function postForm(){
		    	$('#summernote').append('<input type="hidden" name="contents", id="contents" />');
		        $('#contents').val($('#summernote').summernote('code'));
		    }
		    
		    function sendFile(file, el) {
		        var form_data = new FormData();
		        form_data.append('file', file);
		        $.ajax({
		          data: form_data,
		          type: "POST",
		          url: '/fileupload',
		          cache: false,
		          contentType: false,
		          enctype: 'multipart/form-data',
		          processData: false,
		          success: function(url) {
		            	$(el).summernote('editor.insertImage', url);
		           		$('#imageBoard > ul').append('<li><img src="'+url+'" width="480" height="auto"/></li>');
		          }
		        });
		      }
		    </script>

			<div class="nav" role="navigation">
				<fieldset class="buttons">
					<input type="submit" value="등록">
				</fieldset>
			</div>
		</form>
	</div>
</div>


</html>